.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FAFAFA;
}
.active{
    background-color: white !important; 
    color: #000000 !important;   
}
#sidenavLink{
    cursor: pointer;
}
mat-sidenav {
 width: 250px;    
 background: #000000;
}
.cursor-pointer {
    cursor: pointer;
}