<div>
    <div class="d-flex justify-content-between">
        <p class="fs-4">History</p>
        <!-- <mat-form-field>
            <mat-label>Filter</mat-label>
            <mat-select>
                <mat-option>All</mat-option>
                <mat-option>Today</mat-option>
                <mat-option>Yesterday</mat-option>

            </mat-select>
        </mat-form-field> -->
    </div>
    <mat-form-field>
        <mat-label>Search History</mat-label>
        <input matInput [(ngModel)]="filterHistory" />
    </mat-form-field>
    <!-- Table -->
    <div class="table-responsive container" *ngIf="!isLoading">
      <table class="table shadow table-hoverable">
        <thead>
          <tr>
            <th>S/N</th>
            <th>Customer</th>
            <th>Type</th>
            <th>Amount</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i = index; let data of dataSource | history: filterHistory" class="fs-6">
            <td class="p-3">{{i+1}}</td>
            <td class="p-3">{{data.customerName}} </td>
            <td class="p-3"> {{data.type}} </td>
            <td class="p-3"> {{data.amount | currency: 'NGN': 'symbol-narrow'}} </td>
            <td><i class="fa fa-trash text-danger btn"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
      
</div>