<div>
    <p class="py-3 fs-4 fw-bold">
        Overview
    </p>
    <div class="row w-100 mx-auto" *ngIf="!isLoading && transactions.length !== 0">
        <div class="col-md-3 mb-md-0 mb-2">
            <mat-card class="p-3">
                <mat-card-title>
                    Transactions
                </mat-card-title>
                <mat-card-subtitle class="text-end fs-5">
                    {{transactions.length}}
                </mat-card-subtitle>
            </mat-card>
        </div>
        <div class="col-md-3 mb-md-0 mb-2">
            <mat-card class="p-3">
                <mat-card-title>
                    Transfers
                </mat-card-title>
                <mat-card-subtitle class="text-end fs-5">
                    {{transfers.length}}
                </mat-card-subtitle>
            </mat-card>
        </div>
        <div class="col-md-3 mb-md-0 mb-2">
            <mat-card class="p-3">
                <mat-card-title>
                    Withdrawals
                </mat-card-title>
                <mat-card-subtitle class="text-end fs-5">
                    {{withdrawal.length}}
                </mat-card-subtitle>
            </mat-card>
        </div>
        <div class="col-md-3 mb-md-0 mb-2">
            <mat-card class="p-3">
                <mat-card-title>
                    Others
                </mat-card-title>
                <mat-card-subtitle class="text-end fs-5">
                    {{others.length}}
                </mat-card-subtitle>
            </mat-card>
        </div>
    </div>
    <div class="row w-100 mx-auto pt-3" *ngIf="!isLoading && transactions.length !== 0">
        <p class="fs-5 fw-lighter">Today's Transaction</p>
        <div class="col-md-10">
            <canvas baseChart [datasets]="lineChartData" [legend]="false" [labels]="chartLabels" [options]="chartOptions"  [type]="'line'"></canvas>
        </div>
    </div>
    <div class="alert alert-info fw-bold" *ngIf="!isLoading && transactions.length == 0">
        You haven't made any transactions today
    </div>
    <div class="alert alert-danger fw-bold" *ngIf="!isLoading && error !== ''">
        {{error}}
    </div>
    <mat-progress-bar mode="query" *ngIf="isLoading"></mat-progress-bar>
    <button (click)="add()" mat-fab class="bg-dark text-white fw-bold fab-btn">
        <mat-icon>add</mat-icon>
    </button>
</div>